body{
    background-color: #F9B7FF;
    
}

#header{
    background-image: url();
}

.header{
    background-image: url(img/Cherry_Blossom_46_B.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    text-shadow: 1px 1px #f25278;
    font-weight: 500;
    width: auto;
    height: auto;

}

.pad{
    padding-top: 55px;
    text-align: left;
    text-align: justify;
}

.bold{
    font-weight: bold;
}

p{
    font-size: 20px;
}

h3{
    padding-top: 25px;
}