body{
    background-color: #F9B7FF;
    
}

#header{
    background-image: url();
}

.header{
    background-image: url(img/Cherry_Blossom_46_B.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    text-shadow: 1px 1px #f25278;
    font-weight: 500;
    width: auto;
    height: auto;

}

.pad{
    padding-top: 55px;
    text-align: left;
    text-align: justify;
}

.bold{
    font-weight: bold;
}

p{
    font-size: 20px;
}

h3{
    padding-top: 25px;
}

.btn{
    background-color: #333;
    color: #ffffff;
    padding: 10px 25px;
    border: solid #44b8db 2px;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 300ms;
}
.btn{
    background-color: #333;
    padding: 10px 25px;
    border: solid #0d5077 2px;
    border-radius: 7px;
    box-sizing: border-box;
}

button{
    background-color: #333;
    color: #ffffff;
    padding: 10px 25px;
    border: solid #44b8db 2px;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 300ms;
}
button{
    background-color: #333;
    padding: 10px 25px;
    border: solid #44b8db 2px;
    border-radius: 7px;
    box-sizing: border-box;
}

input{
    background-color: #333;
    color: #ffffff;
    padding: 10px 25px;
    border: solid #44b8db 2px;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 300ms;
}
input{
    background-color: #333;
    padding: 10px 25px;
    border: solid #44b8db 2px;
    border-radius: 7px;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
    background-color: rgb(201, 199, 199);
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    padding: 1rem;
}